{% extends "layout.html" %}
{% block content %}
<h2 style="margin-top: 20px">Ford Escort car sales with Year, Mileage and Sale Price</h2>
<table class="table" style="margin-top: 20px">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Year</th>
        <th scope="col">Mileage</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    {% for d in escort %}
    <tr>
        <td><a href="view/{{d.id}}">{{ d.id }}</a></td>
        <td>{{ d.Year }}</td>
        <td>{{ d.Mileage }}</td>
        <td>{{ d.Price }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}