{% extends "layout.html" %}
{% block content %}
<h2 style="margin-top: 30px">Admin View for Gas Mileage Recorder Website</h2>
<h5 class="card-title" style="margin-top: 20px">No.{{ mileage.id }} - {{ mileage.Price }}</h5>

<div class="card" class="m-5 p-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{ users.id }}</li>
        <li class="list-group-item">First Name: {{ users.first_name }}</li>
        <li class="list-group-item">Last Name: {{ users.last_name }}</li>
        <li class="list-group-item">Email: {{ users.email }}</li>
        <li class="list-group-item">Admin: {{ users.is_admin }}</li>
        <li class="list-group-item">Verified: {{ users.is_verified }}</li>
    </ul>
    <div class="card-body">
        <form action="/admindelete/{{user.id}}" method="post">
            <a href="/adminedit/{{user.id}}" class="card-link btn btn-primary">Edit</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock %}