{% extends "base.html" %}
{% block content %}

<h5 class="card-title" style="margin-top: 30px">Edit {{ users.first_name }} {{users.last_name}}</h5>

<form action="/adminedit/{{users.id}}" method="post">

  <div class="form-group row">
    <label for="First Name" class="col-sm-2 col-form-label">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="first_name" name="first_name" value="{{users.first_name}}">
    </div>
  </div>

  <div class="form-group row">
    <label for="Last Name" class="col-sm-2 col-form-label">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="last_name" name="last_name" value="{{users.last_name}}">
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="email" name="email" value="{{users.email}}">
    </div>
  </div>

<div class="form-group row">
    <label for="Is Verified" class="col-sm-2 col-form-label">Verified</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="is_verified" name="is_verified" value="{{users.is_verified}}">
    </div>
  </div>

  <button type="submit" class="btn btn-success">Update</button>

</form>
{% endblock %}