{% extends "base.html" %}
{% block content %}
<h2 style="margin-top: 30px">Gas Mileage</h2>
<a class="btn btn-primary" href="/mileage/new" role="button">Add Mileage</a>

<table class="table" style="margin-top: 30px">
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Gallons</th>
        <th scope="col">Miles</th>
        <th scope="col">Price</th>
        <th scope="col">Mileage</th>

    </tr>
    </thead>
    <tbody>
    {% for d in gasTable %}
    <tr>
        <td><a href="view/{{d.id}}">{{ d.id }}</a></td>
        <td>{{ d.Gallons }}</td>
        <td>{{ d.Miles }}</td>
        <td>{{ d.Price }}</td>
        <td>{{ d.Mileage }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


