{% extends 'base.html' %}
{% block content %}
    <h1>Login</h1>
     {% if message %}
        <h2>{{ message.text }}</h2>
    {% endif %}
<form action="/login" method="post">
        <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>
            <div class="form-group col-md-6">
                <label>Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}