{% extends "base.html" %}
{% block content %}

<h5 class="card-title" style="margin-top: 20px">{{ users.first_name }} {{ users.last_name }}</h5>

<div class="card" class="m-5 p-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{gasTable.id}}</li>
        <li class="list-group-item">Gallons: {{ gasTable.Gallons}}</li>
        <li class="list-group-item">Miles: {{ gasTable.Miles }}</li>
        <li class="list-group-item">Price: {{ gasTable.Price }}</li>
        <li class="list-group-item">Mileage: {{ gasTable.Milage}}</li>
    </ul>
    <div class="card-body">
        <form action="/delete/{{gasTable.id}}" method="post">
            <a href="/edit/{{gasTable.id}}" class="card-link btn btn-primary">Edit</a>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{% endblock %}